@model Brand

<form method="post">
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Id == 0 ? "Create" : "Update") Brand</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="width:150px">@(Model.Id == 0 ? "Create" : "Update")</button>
                    <a asp-controller="Brand" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
