@using System.Collections
@model IEnumerable<Car>

<div class="row pb-3">
    @if (Model.Count() == 0)
    {
        <h1 class="mt-5 text-center">There is no cars available</h1>
    }
    else
    {
        foreach (var car in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border:1px solid; border-radius: 5px;">
                        <div class="card">
                            <img src="@car.ImageUrl" class="card-img-top rounded" />

                            <div class="card-body">
                                <div class="pl-1">
                                    <p class="card-title h5 text-primary">@car.CarModel.Name</p>
                                </div>
                                <div class="pl-1">
                                    <p>Price: <b>$@car.Price.ToString("0")</b></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@car.Id">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>